<button type="button" class="close" style="margin-right: 450px;" (click)="close()">Close</button>
<div class="row" style="padding-left: 150px;">
    <div class="col-xs-6">
        <form  (ngSubmit)="onSubmit()" #resetForm="ngForm">
            <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="oldpassword">Old Password</label>
                   <input type="password" class="form-control" name="oldpassword" id="oldpassword" ngModel 
                   #oldpassword="ngModel" required >  
                  </div>
                </div>
              </div>
              <span *ngIf="!oldpassword.valid&& oldpassword.touched" class="help-block">Please enter correct password!</span>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="newpassword">New Password</label>
                   <input type="password" class="form-control" name="newpassword" id="newpassword" ngModel 
                   #newpassword="ngModel" required >  
                  </div>
                </div>
              </div>
              <span *ngIf="!newpassword.valid&& newpassword.touched" class="help-block">Please enter password!</span>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="repassword">Re-enter the password</label>
                   <input type="password" class="form-control" name="repassword" id="repassword" ngModel 
                   #repassword="ngModel" required >  
                  </div>
                </div>
              </div>
              <span *ngIf="!repassword.valid&& repassword.touched" class="help-block">Please Re-enter the password!</span>
              <span *ngIf="msg!=null" class="help-block">{{msg}}</span>
              <div class="row">
                  <div class="col-xs-12">
                    <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!resetForm.valid" style="margin-right: 10px; margin-bottom: 10px;">Change Password</button>
                  <button type="button" [disabled]="!resetForm.valid" class="btn btn-danger" (click)="onCancel()" style="margin-right: 10px; margin-bottom: 10px;">Cancel</button>
                  </div>
              </div>
        </form>
    </div>
</div>
